//Font Size
$font-es: 0.75rem;
$font-sm: 1rem;
$font-med: 1.125rem; 
$font-lg: 1.5rem;
$font-xlg: 2rem;

//Font Family
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$finger-paint: 'Finger Paint', cursive;
$alegreya: 'Alegreya Sans SC', sans-serif;

//for testing purpose
$testborder: 1.5px solid red;
$testbgc: wheat;
$testshadow: 0px 0px 10px rgba(0,0,0,0.1);