#about {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(8, 12.5%);
}

.image-box {
    grid-column: 2 / 7;
    grid-row: 2 / 8;
    background-image: url(../images/1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    animation: slideBg 18s linear infinite 0s;
    animation-timing-function: step-start;
    border-radius: 4px;
}

@keyframes slideBg {
    0% {
      background-image: url('../images/1.jpg');
    }
    25% {
      background-image: url('../images/2.jpg');
    }
    50% {
      background-image: url('../images/3.jpg');
    }

    75% {
      background-image: url('../images/4.jpg');
    }

    100% {
        background-image: url('../images/1.jpg');
      }
    }

.container-a {
    grid-column: 6 / 8;
    grid-row: 3 / 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 0;
    position: relative;
    padding: 20px;
}

.container-a::before {
    grid-column: 6 / 8;
    grid-row: 3 / 7;
    content: "";
    background-image: linear-gradient( 109.6deg,  rgba(83,5,5,1) 11.2%, rgba(0,0,0,1) 91.1% );
    position: absolute;
    border-radius: 4px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: -1;
  }

  .container-a h2 {
    font-weight: lighter;
    position: relative;
    color: white;
  }
  .container-a p {
    margin: 20px 0;
    padding: 0px 10px;
    font-weight: 500;
    line-height: 25px;
    position: relative;
    color: white;
    font-size: $font-sm;
  }
  .container-a a {
    background-color: white;
    color: black;
    padding: 10px;
    position: relative;;
  }

  @media only screen and (max-width: 1024px) {
    .image-box {
      grid-column: 2 / 8;
      grid-row: 2 / 6;
    }

    .container-a {
      grid-column: 3 / 7;
      grid-row: 5 / 8;
      padding: 40px;
      margin-bottom: -80px;
    }
  }

  @media  screen and (min-height: 1366px) {
      .container-a {
        grid-column: 3 / 7;
        grid-row: 5 / 8;
        padding: 40px;  
        margin-bottom: 0px;
      }
    }


  @media only screen and (max-width: 414px) {
    #about {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .image-box {
      width: 88%;
      height: 200px;
      margin: 40px 0px;
    }

    .container-a {
      width: 80%;
      height: 440px;
    }

  }