#home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 50%;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  backface-visibility: hidden;
  animation: slideBg 12s linear infinite 0s;
  animation-timing-function: step-start;
  background-image: url('../images/1.jpg');
}

@keyframes slideBg {
  0% {
    background-image: url('../images/1.jpg');
  }
  25% {
    background-image: url('../images/2.jpg');
  }
  50% {
    background-image: url('../images/3.jpg');
  }
  75% {
    background-image: url('../images/4.jpg');
  }
  100% {
    background-image: url('../images/5.jpg');
  }

}
.right {
  width: 45%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -110px;
  text-align: center;
  position: relative;
}

.right::before {
  content: "";
  background-color: #303137;
  position: absolute;
  border-radius: 8px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.right h1 {
  font-size: 40px;
  font-weight: lighter;
  position: relative;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
  position: relative;
}
.right a {
  background-color: white;
  color: black;
  padding: 10px;
  position: relative;;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}
