#products {
    min-height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}


.containerx {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.leftx {
    width: 50%;
    height: 300px;
    position: relative;
  }

  .leftx h1 {
    font-size: 40px;
    position: relative;
    color: $red;
    text-align: center;
  }

  .leftx ul {
    margin-top: 20px;
    line-height: 25px;
    font-size: $font-sm;
    position: relative;
    color: black
  }

.containerx .card {
    position: relative;
    width: 375px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.5s;
}

.containerx .card::before {
    content: "";
    background-color: #303137;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }

.containerx .card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 320px;
    transition: 0.5s;
}

.containerx .card:hover img {
    left: 73%;
    height: 200px;
}

.containerx .card .contentx {
    position: relative;
    width: 60%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.containerx .card:hover .contentx {
    left: 0;
    opacity: 1;
    visibility: visible;

}

.containerx .card .contentx h2 {
    color: white;
    text-transform: uppercase;
}

.containerx .card .contentx p {
    color: white;
    font-size: $font-sm;
}

.containerx .card .contentx a {
    position: relative;
    color: #111;
    background: white;
    display: inline-block;
    padding: 10px;
    margin-top: 40px;
    font-size: $font-es;

}

@media (max-width: 1300px){

    .contentx ul li:last-child {
        display: none;
    }

}
@media (max-width: 1024px) {

    .containerx .card {
        width: 280px;
        align-items: flex-start;
        height: 220px;
    }

    .containerx .card:hover {
        height: 380px;
    }

    .containerx .card img {
        height: 220px;
    }

    .containerx .card:hover img {
        left: 50%;
        height: 200px;
    }

    .containerx .card .contentx {
        width: 100%;
        left: 0;
        padding: 40px;
    }

    .leftx {
        text-align: justify;
    }

    .leftx h1 {
        text-align: center;
    }
}

@media (max-width: 767px) {

    .containerx {
        flex-direction: column;
    }

    .containerx .card {
        margin: 30px 20px;  
    }

    .leftx {
        display: none;
    }

}

@media (max-width: 420px) {

    .containerx .card {
        height: 200px;
    }

    .containerx .card .contentx {
        padding: 30px;
    }

    .containerx .card:hover img {
        height: 200px;
    }

    .leftx {
        display: none;
    }


}