
//Colors
$red: #d40000;
$darkgray: #303137;

//Font Size
$font-es: 0.75rem;
$font-sm: 1rem;
$font-med: 1.125rem; 
$font-lg: 1.5rem;
$font-xlg: 2rem;

//Font Family
$open-sans: 'Open Sans', sans-serif;
$roboto: 'Roboto', sans-serif;


//for testing purpose
$testborder: 1.5px solid red;
$testbgc: wheat;
