
//Colors
$red: #d40000;
$darkgray: #303137;

//Font Size
$font-es: 0.75rem;
$font-sm: 0.95rem;
$font-med: 1.125rem; 
$font-lg: 1.5rem;
$font-xlg: 2rem;


//for testing purpose
$testborder: 1.5px solid red;
$testbgc: wheat;
