#container-c {
    grid-column: 2 / 13;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    position: relative;
    margin-right: 50px;
}
#container-c::before {
    content: "";
    background: $bgcolor;
    position: absolute;
    border-radius: 4px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: $bgopacity
  }

#displayDate {
    grid-column: 1;
    font-size: $font-xlg;
    position: relative;
    font-family: 'Special Elite', cursive;
    margin-top: 12px;
    place-self: center;
}

#displayTime {
    grid-column: 2;
    font-size: 5rem;
    position: relative;
    font-family: 'Special Elite', cursive;
    margin-top: 24px;
    place-self: center;
}


