.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cell:hover {
    background-image: var(--td-background-color);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

 // https://codepen.io/laurent-b/details/yLJZLLY

.noise {
    width:100vw;
    height:100vh;
    background-size:150%;
    background-repeat:no-repeat;
    background-position:50% 50%;
    animation: noise 0.3s steps(1, start) infinite;
    opacity: 0.7;
    position:absolute;
  }
  
  @keyframes noise {
    0%{background-position:50% 50%;}
    10%{background-position:62% 38%;}
    20%{background-position:35% 57%;}
    30%{background-position:40% 64%;}
    40%{background-position:68% 35%;}
    50%{background-position:51% 54%;}
    60%{background-position:40% 35%;}
    60%{background-position:36% 63%;}
    80%{background-position:52% 65%;}
    90%{background-position:38% 64%;}
    100%{background-position:51% 60%;}
  }

  .glitch {
    animation :  glitch 0.25s linear alternate infinite, flash 0.7s steps(5,start) infinite;
  }

  .flash {
    animation : flash 0.001s steps(5,start) infinite;
  }

  @keyframes glitch {
    from {clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);}
    to {clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);}
  }
  
  @keyframes flash {
    0%{opacity:1}
    50%{opacity:0}
    100%{opacity:0}
  }
  
